section {
    width: 500px;
    background-color: #1f1f1f;
    border-radius: 20px;
    padding: 0 25px;
}

input {
    width: 100%;
    padding: 14px 10px;
    background-color: transparent;
    border-radius: 5px;
    border-width: 1px;
}

label {
    padding-bottom: 5px;
    font-size: 1.1rem;
    display: block;
    text-align: start;
}

h1 {
    font-size: 1.7rem;
    text-align: start;
    padding: 26px 0;
}

.info-input {
    padding-bottom: 20px;
}