section {
    width: 500px;
    background-color: #1f1f1f;
    border-radius: 20px;
    padding: 10px 25px;
    position: relative;
}

input {
    width: 100%;
    padding: 14px 10px;
    background-color: transparent;
    border-radius: 5px;
    border-width: 1px;
}

label {
    padding-bottom: 5px;
    font-size: 1.1rem;
    display: block;
    text-align: start;
}

h1 {
    font-size: 1.7rem;
    text-align: start;
    padding: 26px 0;
}

.info-input {
    padding-bottom: 20px;
}

.input-group {

}

.add-btn {
    padding: 0;
    font-size: 2rem;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: 25px;
    right: 25px;
}

.del-btn {
    background-color: rgb(113, 0, 0);
}

hr {
    margin: 20px 0;
}